html {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: 0;
  width: 100vw;
}

.demo-page{
    .logo {
    width: 38vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    top: 50%;
    text-transform: uppercase;
  }

  .logo__text {
    font-size: 2vw;
    vertical-align: middle;
  }

  .logo img {
    vertical-align: middle;
    width: 10vw;
    padding-top: 2vw;
    margin-right: 1vw;
  }

  @media screen and (max-width: 640px) {

    .logo{
      width: auto;
    }

    .logo img{
      width: 20vw;
    }

    .logo__text{
      font-size: 5vw;
    }

  }
}

