.form-page {
    max-width: 1060px;
    margin: 0 auto;
    position: relative;
}

img.form-page__image {
    float: left;
    width: 400px;
    margin-right: 30px;
}

.form-page__wrapper {
    display: flex;
}

.form-page p {
    font-size: 16px;
}

.form-page.add-art-page p {
    font-size: 14px;
}

.form-page__sent {
    font-size: 24px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"],textarea {
    // font-size: 16px;
    width: 100%;
    padding: 15px;
    background: #eee;
    border-radius: 3px;
    margin-bottom: 15px;
    font-family: inherit;
    transition: all 0.5s;
    border: 1px solid #fff;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus, input[type="number"]:focus {
    outline: none;
    background: #fff;
    border: 1px solid #333;
}

::placeholder {
    color: #aaa;
}

textarea{
    min-height: 150px;
}

.form-group-input{
    display:flex;
    gap: 30px;
}

.form-input {
    position: relative;
    flex: 1;
    &__options {
        border: 1px solid #999;
        position: absolute;
        top: 47px;
        width: 100%;
        background: #fff;
        z-index: 1;
    }
    &__option {
        padding: 11px 15px;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
    }
    &__options-wrapper{
        position:relative;
    }
    &__group {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &__spacer {
        height: 34px;
    }
    &__hint {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .ok {
        width: 26px;
        height: 26px;
        background: #17c139;
        border-radius: 50px;
        margin: 12px;
    }
    .loading-icon{
        margin: 12px;
    }
    &__message {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #777;
        font-style: italic;
    }
}

@media screen and (max-width: 994px) {
    .form-page__wrapper {
        display: block;
    }

    img.form-page__image {
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }

    .form-group-input {
        display: block;
    }
}

