@font-face {
  font-family: 'SanFrancisco';
  src: url('/fonts/SanFrancisco/SFUIDisplay-Medium.eot');
  src: url('/fonts/SanFrancisco/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/SanFrancisco/SFUIDisplay-Medium.woff') format('woff'),
       url('/fonts/SanFrancisco/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SanFrancisco';
  src: url('/fonts/SanFrancisco/SFUIDisplay-Bold.eot');
  src: url('/fonts/SanFrancisco/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/SanFrancisco/SFUIDisplay-Bold.woff') format('woff'),
       url('/fonts/SanFrancisco/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import 'variables';
@import 'scaffolding';
@import 'styles';
@import 'preloader';
@import 'pagination';
@import 'form';
@import 'wall';
@import '404';
@import 'top-bar';
@import 'catalog';
@import 'art-page';
@import 'product-list';
@import 'content-page';
@import 'index-page';

