span.info-field {
    color: #777;
}

.wall-page__info-line {margin-bottom: 10px;font-size: 18px;}

.content-page__right {
    flex: 1;
}

.wall-page__map {
    margin-bottom: 30px;
}

.wall-page__description {
    white-space: break-spaces;
    margin-bottom: 30px;
}